/*  styles for sockets.io chat app Fox Scarlett 2016 */

body{
	background: linear-gradient(to right, #ffffaf, #dd999b);  /* #ddd4a9 */
}

h1, h2, h3, h4 {
	margin-top: 30px;
}

ul {
	margin-top: 30px;
}

li {
	font-family: 'Droid Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ==============  FRONT PAGE ============================== */

#front-body {
	background: linear-gradient(to right, #f0f0f0, #33E3F0);
}






/* ==============  CHATROOM PAGE ============================== */

.time {
	font-size: 70%;
	font-weight: normal;
}